body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction:column;
    width: 250px;
    background-color: white;
}

#heading{
    display: flex;
    color: rgb(4, 21, 53);
    background-color: rgb(168, 212, 197);
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}