p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  padding: 10px;
  height: 430px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
}

#column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-card {
  display: flex;
  height: 100px;
  width: 100px;

  border-radius: 100%;
  align-items: center;
  justify-content: center;
  color: wheat;
  margin-top: 15px;
  overflow: hidden;
}

#profile-pic {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

hr {
  width: 85%;
  border: 1px solid black;
  opacity: 0.1;
}

.logo {
  height: 20px;
  width: 20px;
  margin: 5px 8px;
}

#name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgb(64, 63, 73);
  opacity: 0.9;
}

#profession {
  font-weight: 100;
  color: rgb(81, 78, 78);
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 10px;
}

#tagline {
  opacity: 0.5;
  font-size: 15px;
  padding: 10px;
  line-height: 1.5;
  margin-bottom: 15px;
}
button {
  color: white;
  background-color: rgb(50, 153, 231);
  border: none;
  border-radius: 5px;
  width: 90px;
  margin-left: 5px;
  height: 28px;
  margin-bottom: 10px;
}

#logo-container {
  display: flex;
  justify-content: center;
}
