footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(30 35 49);
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
}

img {
  height: 15px;
}

hr {
  color: white;
  width: 80%;
  max-width: 1100px;
  opacity: 0.5;
}

#outer-container {
  display: flex;
  gap: 80px;
  width: 100%;
  justify-content: center;
}

#left-section {
  width: 260px;
}

#tagline {
  color: lightgray;
  opacity: 0.7;
}

#logos {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 35px;
}

.iconbg {
  background-color: rgb(123 122 121 / 50%);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.list{
  opacity: 0.7;
}

.inputbox{
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #606666;
  padding: 2px 2px;
  padding-left: 10px;
  font-size: 12px;
  border-radius: 4px;
}

button{
  color: white;
  background-color: #2f89cd;
  border-radius: 2px;
  height: 27px;
  width: 84px;
  border: none;
}
input{
  background:none;
  color: white;
  border: none;
}

input::placeholder{
  color: white;
}