body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin: 0px;
    margin-top: 20px;
}
p,h1,h5{
    margin: 0px;
}
.container{
    background-image: url(assets/background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-left: 60px;
}


.list{
    position: absolute;
    bottom: 130px;
    right: 300px;
    
}
ul{
    list-style: none;
}

.inputfields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
}

.queryform{
    max-width: 750px;
}

#message{
    width: 100%;
}

input,
textarea {
    border: 1px solid lightgray;
    border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
}


#tagline{
    font-size: 60px;
}

#subheading{
    font-size: 30px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 20px;
}

.fields{
    height: 50px;
}

textarea{
    margin-top: 20px;
    height: 100px;
    resize: none;
}

button{
    width: 250px;
    margin-top: 20px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgb(71, 134, 243);
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(77, 131, 223);
}

button:active{
    scale: 0.98;
}

.list-icon{
    height: 20px;
    width: 20px;
}

.list-item{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.iconbg{
    background-color: rgba(143, 157, 166, 0.3);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}