body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0px;
}
.hero {
  height: 647px;
  background-image: url(assets/backdrop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container {
  width: 800px;
  margin-left: 70px;
  margin-top: 70px;
}

#tagline {
  font-size: 60px;
}

.info {
  display: grid;
  grid-template-columns: 25% 1fr;
  margin-top: 10px;
  column-gap: 40px;
}

.subheading {
  font-size: 35px;
  opacity: 0.3;
  margin-top: 20px;
}

button {
  height: 45px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  width: 145px;
  font-size: 15px;
  margin-right: 15px;
  font-weight: bold;
}

#getstarted {
  color: white;
  background-color: #5b5bfa;
}

#watchdemo {
  color: #5b5bfa;
  background-color: transparent;
  border: 1px solid #5b5bfa;
}


.icon{
  height: 20px;
  width: 20px;
}

.features{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.iconbg{
  background-color: rgba(107, 152, 241,0.5);
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}