body{
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
   width: 100px;
   margin-left: 20px;
}

nav{
    display: flex;
    align-items: center;
    background-color: white;
    
}

ul{
    padding: 0px 40px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 1;
}
li{
    color: rgb(84, 84, 84);
    font-weight: 500;
    opacity: 0.9;
}

li:hover{
    color: rgb(93, 119, 251);
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor: pointer;
}

button{
    width: 120px;
    margin-right: 30px;
    color: white;
    background-color: rgb(45, 116, 229);
    border: none;
    padding: 10px;
    font-weight:600 ;
    border-radius: 8px;
    font-size: 14px;
}